script:
  {{SLUG}}_log_water_change:
    alias: "{{TITLE}} - Log Water Change Now"
    sequence:
      - action: input_datetime.set_datetime
        target:
          entity_id: input_datetime.{{SLUG}}_last_water_change
        data:
          datetime: "{{ now().strftime('%Y-%m-%d %H:%M:%S') }}"
    mode: single
